<% if user_signed_in? %>
	<% if event.participated_by?(current_user) %>
	  <li>
	    <%= link_to event_participates_path(event), method: :delete, class: "following-button",id: "following-button-#{geinin.id}", remote: true, :protocol => 'https' do %>
	      <%= event.participates.where(event_id: event.id).count %> 参加する
	    <% end %>
	  </li>
	<% else %>
	  <li>
	    <%= link_to event_participates_path(event), method: :post, class: "participate-button-blank", id: "following-button-#{geinin.id}", remote: true, :protocol => 'https' do %>
	      <%= event.participates.where(event_id: event.id).count %> 参加する
	    <% end %>
	  </li>
	<% end %>
<% else %>
	<!--ログインしていない場合、「ログインするといいね機能が使えます」のメッセージを出す-->
	<a id="modal-open" class="button-link">
		<i class="fa fa-heart-o" aria-hidden="true"></i> 参加する
	</a>
<% end %>