<main class="content">
    <div class="snackbar"><span><h2>芸人一覧</h2></span></div>
  <div class="lp-timeline">
    <div class="lp-timeline-wrap">
    <% if @geinins.present? %>
	   <% @geinin.each do |geinin| %>
	      <%= render 'geinins/geinin_info', geinin: @geinin, user: @user %>
	   <% end %>
	<% else %>
		<p>芸人の登録はまだありません。</p>
	<% end %>