<br><br><br><br><br>
<article class="">
    <div class="">
        <div class="">
            <span class=""></span>
        </div>
    </div>
    <div class="post-wrapper">
        <h1 class="post-title">芸人登録</h1>
        <div class="post-box">
        <%= render :partial => "geinin_edit", locals: { geinin: @geinin } %>
        </div>
    </div>
</article>
