<% if event.email.present? %>
	<% if user.present? %>
		<%= mail_to(event.email,
		:subject => 'ライブチケット予約【'+ "#{event.title}" +'】',
		:body => '掲題のライブのチケット予約をお願いいたします。' + "\n\n" +
				 '名前：' + "#{user.name}" + "\n" +
				 'ライブ名：' + "#{event.title}" + "\n" +
				 '枚数： 1枚' + "\n\n" +
				 'よろしくお願いいたします。' + "\n\n" +
				 "#{user.name}") do %>
	  <i class="fas fa-envelope"></i>
    <span class="post-option-text">予約する</span>
    <% end %>
	<% else %>
		<%= mail_to(event.email,
		:subject => 'ライブチケット予約【'+ "#{event.title}" +'】',
		:body => '掲題のライブのチケット予約をお願いいたします。' + "\n\n" +
				 '名前：' + "\n" +
				 'ライブ名：' + "#{event.title}" + "\n" +
				 '枚数： 1枚' + "\n\n" +
				 'よろしくお願いいたします。') do %>
	  <i class="fas fa-envelope"></i>
    <span class="post-option-text">予約する</span>
    <% end %>
	<% end %>
<% end %>
<% if event.tel.present? %>
	<%= link_to 'tel:'+event.tel do %>
    <i class="fas fa-phone"></i>
    <span class="post-option-text">予約する</span>
  <% end %>
<% end %>
<% if event.event_links.present? %>
 	<% event.event_links.each do |link| %>
		<%= link_to link.url do %>
		<i class="fas fa-ticket-alt"></i>
		<span class="post-option-text">予約する</span>   
		<% end %>
	<% end %>
<% end %>