<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >

<br><br><br><br><br>
<article class="">
    <div class="">
        <div class="">
            <span class=""></span>
        </div>
    </div>
    <div class="post-wrapper">
        <h1 class="post-title">ライブ登録</h1>
        <div class="post-box">
        <%= render :partial => "event_edit", locals: { event: @event } %>
        </div>
    </div>
</article>
