<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
        <!--「参加中」を押したライブだけ表示-->
        <% @event_participates = @results[0] %>
        <% @event_pengings = @results[1] %>
        <% @geinin_followings = @results[2] %>
        <% if @event_participates.present? && @event_pendings.present? %>
          <h2>参加する＋検討中のライブ一覧</h2>
          <% @events = @event_participates + @event_pengings %>
          <% @events = @events.uniq %>
        <%= render :partial => "events/event_list", locals: { events: @events } %>
        <% end %>
         <h2>参加するライブ一覧</h2>
            <%= render :partial => "events/event_list", locals: { events: @event_participates } %>
         <h2>検討中のライブ一覧</h2>
            <%= render :partial => "events/event_list", locals: { events: @event_pendings } %>
            </div>
      </div>
    </div>
  </div>
</section>