/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
*{
    font-family: 'Quicksand', sans-serif;
}
/* ここからCSSを記述してください */
header{
  background-color:#272727;
  color:#f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height:60px;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  line-height:60px;
}
.inner{
  margin:0;
  padding:0 10px;
}
.user-menu{
  margin:0 auto;
  display:inline-block;
}
.user-menu-button:after {//フロート解除用クリアフィックス
  content: "";
  clear: both;
  display: block;
}
.user-menu-button li{
  position:relative;
  left:5%;
  float:left;
  width:150px;
}
.user-menu-button a{
  display:block;
  font-size:14px;
  line-height:60px;
  height:60px;
  text-align:center;
  background:#272727;
  color:#f7f7f7;
  border-right:1px solid #666666;
  text-decoration:none;
}
.user-menu-button li:first-child a{
  border-left:1px solid #666666;
}
.user-menu-button a:hover{
  background-color: #f7f7f7;
  color:#272727;
}
.user-menu-button-text{
  padding-left:2px;
}
.site-logo{
    margin-left:25px;
    padding:5px 0;
    height:50px;
    float:left;
}
.site-title div{
  font-size:28px;
  line-height:60px;
  float:left;
}
.site-title a{
    margin:0px 10px 0px 10px;
    font-size:28px;
    line-height:60px;
    display:block;
    float:left;
}
.site-sub-title{
  padding-left:10px;
  font-size:14px;
}
.site-title a{
  text-decoration:none;
  color:#f7f7f7;
  display:block;
  float:left;
}
.site-title a:hover{
  color:#f22e58;
}
.login-button{
  padding-right:20px;
  float:right;
}
.twitter-button{
    font-size: 13px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;
    margin: 12px auto;
    position: relative;
    border: none;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    display: block;
    position: relative;
    color: white;
    background-color: #1B95E0;
    border: 1px solid #1B95E0;
    -webkit-border-radius: 10px;
    text-decoration: none;
}
.twitter-button a{
  text-decoration:none;
  color:f7f7f7;
}
.login-button a:hover {
    color: #1B95E0;
    background-color: white;
    opacity: 1.0;
    display:block;
}
/* ステータスバーのCSS */
.content{
    margin:0px 0px;
}
.accent{
  color:#f22e58;
}
.page-info{
    width: 100%;
    text-align: center;
    line-height: 1.4;
    padding: 12px 20px;
    box-sizing: border-box;
    position: static!important;
}
.hard-shadows {
    padding:20px 30px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
}
@media (min-width: 648px)
.page-info {
    position: absolute!important;
    padding: 12px 12px 15px;
}

/* footerのCSS */
footer{
    background-color: #111111;
    color: #eee;
    text-align:center;
}
.footer-menu{
    color:#f7f7f7;
}
.footer-menu a{
    text-decoration:none;
}
.copyright>div>span {
    display: block;
    font-size: 13px;
    line-height: 1;
    padding: 15px 20px;
}
.navigation-block{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin:0 auto;
}
.btn{
    background-color:#f22e58;
    font-size: 13px;
    text-align: center;
    color: #fbfbfb;
    padding: 4px 0;
    border: 3px solid #f22e58;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .2s ease 0s;
}
.navigation-link{
    display: inline-block;
    vertical-align: top;
    max-width: 140px;
    width: 40%;
    margin: 10px 10px 8px;
    text-decoration:none;
    color:#f7f7f7;
}