/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
*{
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image:url('background.png');
}
/* ここからCSSを記述してください */
header{
  background-color:#272727;
  color:#f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height:60px;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  line-height:60px;
  display:block;
}
.inner{
  margin:0;
  padding:0 10px;
}
.user-menu{
  margin:0 auto;
  display:inline-block;
}
.user-menu-button:after {//フロート解除用クリアフィックス
  content: "";
  clear: both;
  display: block;
}
.user-menu-button li{
  position:relative;
  left:5%;
  float:left;
  width:150px;
}
.user-menu-button a{
  display:block;
  font-size:14px;
  line-height:60px;
  height:60px;
  text-align:center;
  background:#272727;
  color:#f7f7f7;
  border-right:1px solid #666666;
  text-decoration:none;
}
.user-menu-button li:first-child a{
  border-left:1px solid #666666;
}
.user-menu-button a:hover{
  background-color: #f7f7f7;
  color:#272727;
}
.user-menu-button-text{
  padding-left:2px;
}
.site-logo{
    margin-left:25px;
    padding:5px 0;
    height:50px;
    float:left;
}
.site-title div{
  font-size:28px;
  line-height:60px;
  float:left;
}
.site-title a{
    margin:0px 10px 0px 10px;
    font-size:28px;
    line-height:60px;
    display:block;
    float:left;
}
.site-sub-title{
  padding-left:10px;
  font-size:14px;
}
.site-title a{
  text-decoration:none;
  color:#f7f7f7;
  display:block;
  float:left;
}
.site-title a:hover{
  color:#f22e58;
}
.login-button{
  padding-right:20px;
  float:right;
}
.twitter-button{
    font-size: 13px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.5s;
    margin: 12px auto;
    position: relative;
    border: none;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    display: block;
    position: relative;
    color: white;
    background-color: #1B95E0;
    border: 1px solid #1B95E0;
    -webkit-border-radius: 10px;
    text-decoration: none;
}
.twitter-button a{
  text-decoration:none;
  color:f7f7f7;
}
.login-button a:hover {
    color: #1B95E0;
    background-color: white;
    opacity: 1.0;
    display:block;
}
.user-menu-right{
    margin-right: auto;
    padding:20px;
    display: flex;
    align-items: center;
    z-index: 12;
    float: right;
}
.pulldown {
    position: relative
}
.pulldown:hover .pulldown-content {
    display: block
}

.pulldown .user-icon {
    cursor: pointer;
    padding: 0 10px;
    margin: 0 -10px
}

.pulldown .pulldown-content {
    display: none;
    min-width: 180px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    border-radius: 5px
}

.pulldown .pulldown-content > p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding: .875em 20px
}

.pulldown .pulldown-content > ul {
    border-top: 1px solid #eee;
    margin: 0;
    padding: .5em 0;
    list-style: none
}

.pulldown .pulldown-content > ul li a {
    display: block;
    padding: .75em 20px;
    font-size: .875rem;
    color: #000;
    text-decoration: none
}

.pulldown .pulldown-content > ul li a:hover {
    background-color: #fafafa
}

.pulldown .pulldown-content > ul li .fa {
    margin-right: 5px
}
.main{
    margin:0px 50px;
    padding: 0px 80px;
    display:block;
    overflow: hidden;
    position: relative;
}

@media(min-width:972px){
    .posts{
        width:972px;
    }
}
.accent{
  color:#f22e58;
}
.page-info{
    margin: 0 auto;
    padding:20px;
    text-align:center;
    margin-top:2px;
    margin-bottom:20px;
    line-height: 1.4;
    background-color:#ffffff;
}
.hard-shadows {
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
}
.content-wrapper{
    margin:0 auto;
}
.section{
    display:block;
}

.post{
  float:left;
  widows: 300px;
  margin:10px;
  background-color:#fff;
}
.post-header{
  background-color:#f22e58;
  color:#f7f7f7;
  padding:5px 10px;
  font-size:20px;
}
.delete-box, .share-box{
    float:right;
    padding:0 5px;
}
.delete-box a, .share-box a{
  color:#f7f7f7;
  text-decoration:none;
}
.post-wrapper{
  padding:5px 10px;
}
.post-title{
  text-align:center;
  color: #434343;
  font-size: 15pt;
  font-family: 'Gibson', sans-serif;
  margin: 10px 0;
  line-height: 1.2;
  text-decoration:none;
}
.post-title h3,.post-title a{
    text-decoration:none;
    color: #434343;
    font-size: 15pt;
    font-style:normal;
}
.post-content{
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 15px;
}
.post-performer{
  line-height: 1.5;
  display:inline-block;
}
.post-performer a{
  text-decoration:none;
  color:#595959;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.post-performer a:hover{
  background-color: #f22e58;
  border: 1px solid #f22e58;
  color: #f7f7f7;
}
.post-performer li{
  float:left;
  padding-right:2px;
}
.post-tag{
  margin: 5 10px;
  font-size: 14px;
}
.post-icon{
  color:#848484;
}
.post-tag a{
  color:#848484;
  text-decoration:none;

}
.post-options>div {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    float:left;
    font-size:12px;
}
.post-option{
  background-color:#f22e58;
  width:25%;
  text-align:center;
}
.post-option a{
  color:#f7f7f7;
  text-decoration:none;
  display:block;
  padding: 5px 5px;
}
.post-option a:hover{
    background-color: #fbfbfb;
    color: #f22e58;
}
.post-option-text{
    display:inline-block;
    margin:0 auto;
    font-size:11px;
}
@media (min-width: 648px)
.page-info {
    position: absolute!important;
    padding: 12px 12px 15px;
}
.container{
    margin: 0 auto;
    display:block;
    margin-top:20px;
    margin-bottom:20px;
}
/* 検索フォーム　*/
.search-form-container{
    margin-top: 12px;
    background-color: #272727;
    color: #f7f7f7;
    width:350px;
    z-index: 2;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.05);
    display: block;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.search-form-inner{
    padding: 12px 2px 10px 5px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    overflow: hidden;
}
.search-categories{
    padding:2px 2px 10px 2px;
    margin-bottom:5px;
    clear:both; 
}
.search-label{
    font-family: 'Gibson', sans-serif;
    width:330px;
    border-bottom:solid #ffffff 2px;
    border-color: #676767;
    font-size: 16px;
    border-bottom: 1px solid #CCC;
    padding-left: 8px;
    margin: 0 0 5px;
}
.label-border{
    border-bottom: 1px solid #CCC;
    padding:0;
}
.search-form{
    border:0;
    height:32px;
    width:350px;
    display:inline-flex;
    border-style: none;
    background-color: #f2f2f2;
    vertical-align:middle;
    border:solid 1px #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);width: 260px;
    padding:2px 0px;
    margin:5px 0px;
}
.search-label-name{
    display:inline-block;
    padding:0;
}
.search-button-box{
    position:left;
    padding-left:10px;
    margin-bottom:10px;
}
.search-performer-box{
    position:left;
    padding-top:5px;
}
.search-form-area{
    position:left;
    float:left;
    padding-left:10px;
    margin-bottom:10px;
    display:inline-block;
}
.categories{
    display: block;
    padding: 6px 12px;
    color: #f7f7f7;
    background-color: #333;
    margin: 0 6px 6px 0;
    transition: all 300ms ease;
    float: left;
    vertical-align: center;
    margin-top:5px;
}
.search-label{
    width:320px;
    text-align: left;
    font-size: 12px;
    padding-left:10px;
    border-bottom:#f2f2f2;
}
.search-label p{
    padding:0;
}

/* footerのCSS */
footer{
    background-color: #111111;
    color: #eee;
    text-align:center;
    display:inline-block;
    width:100%;
}
.footer-menu{
    color:#f7f7f7;
}
.footer-menu a{
    text-decoration:none;
}
.copyright>div>span {
    display: block;
    font-size: 13px;
    line-height: 1;
    padding: 15px 20px;
}
.navigation-block{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin:0 auto;
    display:inline-block;
}
.btn{
    background-color:#f22e58;
    font-size: 13px;
    text-align: center;
    color: #fbfbfb;
    border: 3px solid #f22e58;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .2s ease 0s;
    display: inline-block;
    text-decoration: none;
}
.btn:hover{
    background-color: #fbfbfb;
    color: #f22e58;
}
.new{
    padding:10px 40px;
    margin:0 auto;
    margin-top:20px;    
    width:200px;
    display:block;
}
.navigation-link{
    display: inline-block;
    vertical-align: top;
    max-width: 140px;
    width: 40%;
    margin: 10px 10px 8px;
    padding: 4px 0;
    text-decoration:none;
    color:#f7f7f7;
}
.event-list-box{
    margin:0 auto;
}
.event-list-wrap{
    margin:10px;
    padding: 30px 0px;
}
.event-no-result{
    padding:60px 40px;
    text-align:center;
}

@media(min-width:800px){
    .user-menu-sm{
        display:none;
    }
    .user-menu-button-sm{
        display:none;
    }
}
@media(max-width:1070px){
    .site-logo{
        margin-left:10px;
        padding:5px 0;
        height:50px;
        float:left;
    }
    .site-title div{
        font-size:24px;
        line-height:60px;
        float:left;
    }
    .site-sub-title{
        font-size:10px;
    }
    .user-menu-button li{
        font-size:15px;
        width:100px;  
    }
}
@media(max-width:800px){
    .user-menu-button{
        display:none;
    }
    .user-menu-button li{
        display:none;
    }
    .user-menu-sm{
        display:inline-block;
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
    }
    .user-menu-button-sm li{
        display:inline-block;
        float:left;
        width:20%;
    }
    .user-menu-button-sm a{
        display:block;
        height:60px;
        font-size:10px;
        text-align:center;
        background:#272727;
        color:#f7f7f7;
        border-right:1px solid #f7f7f7;
        text-decoration:none;
    }
    .user-menu-button-sm li:first-child a{
        border-left:1px solid #f7f7f7;
    }
    .user-menu-button-sm a:hover{
        background-color: #f7f7f7;
        color:#272727;
    }
    .user-menu-icon{
        display:block;
        margin:0 auto;
        padding-top:15px;
        padding-bottom:10px;
    }
    .user-menu-text{
        display:inline-block;
        margin:0 auto;
        padding-top:10px;
    }
    .main{
        margin:0 auto;
        margin-top:45px;
        padding:0 10px;
    }
    .page-info{
        margin: 0 auto;
        padding:20px;
        text-align:center;
        margin-top:20px;
        margin-bottom:20px;
    }
    .post{
        padding:10 10px;
    }
    .search-form-container{
        margin:0 auto;
    }
}
.event-edit-form{
    border:0;
    padding:10px;
    font-size:14px;
    font-family:'Quicksand', sans-serif;
    color:#434343;
    border:solid 1px #ccc;
    width:300px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
}
.event-edit-form:focus {
    border:solid 1px #f22e58;
}
.block{
    display:block;
}
textarea{
    height:100px;
    margin-bottom:0;
    display:block;
}
.event-box{
    width:375px;
    margin:0 auto;
    text-align:center;
}
.form-item{
    clear:both;
    overflow:hidden;
}
.form-icon{
    width:20px;
    padding:10px 5px 5px 0;
    float:left;
}
.form{
    float:left;
}