<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
        <!--「参加中」を押したライブだけ表示-->
		 <h1>ライブ一覧</h1>
		<%= render :partial => "events/search_results", locals: { results: @results } %>
        </div>
      </div>
    </div>
  </div>
</section>